@charset 'UTF-8';

.slick-prev,
.slick-next {
  top: 42%;
  padding: 0;
  width: 45px;
  height: 45px;
  border: none;
  outline: none;
  display: block;
  cursor: pointer;
  color: transparent;
  position: absolute;
  border-radius: 50%;
  transform: translate(0, -50%);
  background-size: 10px !important;
  -ms-transform: translate(0, -50%);
  -webkit-transform: translate(0, -50%);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

@media(max-width:767px) {

  .slick-next,
  .slick-prev {
    width: 35px;
    height: 35px;

  }
}

@media(max-width:576px) {

  .slick-next,
  .slick-prev {
    width: 35px;
    height: 35px;
    background-size: 7px !important;
  }
}

.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  outline: none;
}

.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  opacity: .25;
}

.slick-disabled {
  display: none !important;
}


[dir='rtl'] .slick-prev {
  right: -25px;
  left: auto;
}

[dir='rtl'] .slick-prev:before {
  content: '→';
}



[dir='rtl'] .slick-next {
  right: auto;
  left: -25px;
}

[dir='rtl'] .slick-next:before {
  content: '←';
}

/* Dots */

/* .slick-dotted.slick-slider { */

/*margin-bottom: 30px;*/

/* } */

.slick-dots {
  position: absolute;
  bottom: -25px;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
}

.slick-dots li {
  position: relative;
  display: inline-block;
  margin: 5px;
  padding: 0;
  cursor: pointer;
}

.slick-dots li button {
  border: 0;
  width: 8px;
  height: 8px;
  padding: 0px;
  opacity: 0.5;
  outline: none;
  line-height: 0;
  cursor: pointer;
  color: transparent;
  background: #707070;
  border-radius: 50%;
}

.slick-dots .slick-active button {
  background: #CC202E;
  opacity: 1;
}

.slick-dots li button:hover,
.slick-dots li button:focus {
  opacity: 1;
  outline: none;
}
